scrapy
pymongo
python-dotenv
matplotlib
seaborn
pypyodbc
seaborn
Django==4.1.2
wordcloud
matplotlib
scikit-learn
category_encoders
django-crispy-forms
django-widget-tweaks
fastapi
pandas
joblib
catboost
