
{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}


<div class='container_model'>
    <h1>Box Office Forecast</h1>

    <form method="GET">
        <label for="date_filter">Choose a date:</label>
        <select id="date_filter" name="date_filter">
            <option value="">All Dates</option>
            {% for date in distinct_dates %}
                <option value="{{ date }}" {% if date == selected_date %}selected{% endif %}>{{ date }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    {% if selected_date %}
        <h2>Films for selected date: {{ selected_date }}</h2>
        {% if films %}
            <ul>
                {% for film in films %}
                    <li>{{ film.titre }} - {{ film.distributeur }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No films available for the selected date.</p>
        {% endif %}
    {% endif %}

</div>


{% endblock %}
