body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    width: 100%;
    margin: auto;
}


.resized-figure img {
    display: block;
    margin: 0 auto;
    width: 500px; 
    height: 400px;  
}


/* Styles pour le conteneur de la page */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh; /* Cela assure que le conteneur occupe au moins la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut du body */
    width: 100%; /* Ajoutez cette ligne pour occuper toute la largeur */
    position: relative;
}




.form-control {
    width: 1000px; /* Ajustez la valeur selon vos besoins */
  }

.container_signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh !important; /* Cela assure que le conteneur occupe au moins la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut du body */
    width: 100;
}

.container_model{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 72vh; /* Cela assure que le conteneur occupe au moins la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut du body */
    width: 100;
}

/* Appliquer une largeur maximale et une largeur de 95% à tous les éléments enfants de page-container */
.page-container > * {
    max-width: 2000px;
    width: 100%;
}

.navbar-expand-lg.bg-light {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 196, 15) !important;
    padding: 10px;
    margin: auto;

    /* Coins arrondis */
    border-radius: 15px;

    /* Effet 3D */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}


nav figure {
    width: 100px; 
    
}


nav ul {
    display: flex;
    justify-content:center;    
    gap: 20px; 
    list-style: none; 
    font-weight: bold;
    margin: auto;
}



.grph1{
    display: flex;
    justify-content: space-between;


}

.grph2{

    width: 48%;
}




.id_log{  position: absolute;
    top: 45%;
    left: 81%;
}

.id1{
    position: absolute;
    top: 43%;
    left: 90%;
}

.id3 {
    width: 100%;
    object-fit: cover;
}


nav ul li a {
    color: rgb(241, 79, 15);
    font-size: large;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    transition: color 0.3s;
    margin: auto;
}

nav ul li a:hover {
    color: rgb(45, 193, 176);
    transition: color 0.3s;
}


  
.right-section {
    /* float: right;  */
    margin-left: 400px;
}


table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  th, td {
    border: 1px solid black;
  }

h1 {
    color: rgb(241, 196, 15);
    font-size: 2em;
    font-family: "Times New Roman", sans-serif;
    font-weight: 600;
    padding: 20px;
}


h2 {
    /* Centre le titre horizontalement */
    font-family: "Times New Roman", sans-serif;

    text-align: center;
    margin-top: 50px;
    /* Met en couleur jaune */
    color: rgb(241, 196, 15);
  }
  
  .p.acceuil {

    padding: 10px;
    text-align: center;
    margin-top: 40px;
    color: rgb(8, 2, 2);
    font-family: "Times New Roman", sans-serif;

    font-size: 20px; /* Taille de police ajustée */
    line-height: 0.1; /* Espacement entre les lignes */
    font-weight: 50; /* Épaisseur de police normale */

    letter-spacing: 1px; /* Espacement entre les lettres */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée douce pour un effet 3D */
}


.movie-images {
    /* Centrer horizontalement et verticalement le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .thumbnail-img {
    /* Ajoutez un espacement entre les images si nécessaire */
    margin: 10px;
    /* Ajoutez un effet de transition pour un mouvement fluide */
    transition: transform 1s;
  }
  
  /* Animation pour faire bouger les images */
  @keyframes rotateImages {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Appliquer l'animation à toutes les images de la classe .thumbnail-img */
  .movie-images img {
    /* Ajoutez un espacement entre les images si nécessaire */
    margin: 25px;
    /* Ajoutez un effet de transition pour un mouvement fluide */
    transition: transform 1s;
  }
  
  /* Appliquer l'animation d'agrandissement à l'image du milieu avec la classe .middle-img */
  .middle-img {
    /* Ajoutez un effet d'animation d'agrandissement */
    animation: enlargeImage 4s infinite alternate;
  }
  
  /* Animation pour agrandir l'image */
  @keyframes enlargeImage {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }










.text-center.container{

    min-height: 75vh;

}

.bg-light.text-center.py-3{
    background-color:rgb(241, 196, 15) !important;


}

footer {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    background-color: rgb(241, 196, 15); /* Couleur de fond */
    padding: 10px;
    /* Coins arrondis */
    border-radius: 15px;
    /* Effet 3D */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

footer a:hover {
    color: rgb(241, 101, 218);
    transition: color 0.3s;
    font-size: large;
    align-content: space-between;
    justify-content: center;
    border: bottom;
}

footer ul {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.button {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
}



  form {
    display: inline-block;
    text-align: left;
    padding: 20px;
  }
  form label {
    display: block;
    margin-top: 10px;
    padding: 20px; 
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }



  
  .film-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .film-table th, .film-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  

  
  .film-title h3 {
    margin-right: 10px;
  }